@model BootstrapSite2.Tier2.post

@{
    /**/

    ViewBag.Title = "Apply";

}
<h2>Details</h2>


@using (Html.BeginForm("SubmitApply", "Services"))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>post</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.jobCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jobCategory)
                @Html.ValidationMessageFor(model => model.jobCategory)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.jobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jobTitle)
                @Html.ValidationMessageFor(model => model.jobTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.whoPosted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.whoPosted)
                @Html.ValidationMessageFor(model => model.whoPosted)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Apply" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to Service Offers", "ListOffers", "Services")
</div>
