@model List<BootstrapSite2.Tier2.serviceOffer>

@{
    /**/

    ViewBag.Title = "ListOffers";

}
<h2>Service Offers</h2>


@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()
    <div class="text-danger">@ViewBag.errorMessage</div>
    <table class="table table-striped ">
        <tr>
            <th>
                Title
            </th>
            <th>
                Category
            </th>
            <th>
                Description
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Booking Time
            </th>
            <th>
                Salary
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.jobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.whoPosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bookingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
                <td>
                    @Html.ActionLink("Contact", "Contact", new { id = item.id }) |
                    @Html.ActionLink("Apply", "Apply", new { id = item.id })

                </td>
            </tr>

        }
    </table>

}
<div>
    @Html.ActionLink("Back to homepage", "Index", "Home")
</div>
